
{:source-paths ["src"]
 :dependencies [[reagent "0.9.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]]]
 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}}}}
